<ion-header>

  <ion-navbar>
    <ion-title>Getting Started</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <button (click)="goToSignIn()" ion-button full color="light">login</button>
    </ion-row>
    <ion-row>
      <button (click)="goToSignup()" ion-button full color="light">register</button>
    </ion-row>
  </ion-grid>

  <!-- <button (click)="capture()" ion-button full color="light">Take Photo</button>
  <p align="center"><img src="{{ imgUrl }}"></p> -->
    

</ion-content>
