<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item style="text-align: center;">
  <div class="bar bar-header bar-balanced">
    <h1 class="title">Esh7enly</h1>
  </div>
  <br>
</ion-item>
  <ion-item>
      <ion-label>Service Provider</ion-label>
        <ion-select [(ngModel)]="service_provider">
          <ion-option value="Vodafone">Vodafone</ion-option>
          <ion-option value="Mobinil">Mobinil</ion-option>
          <ion-option value="Etisalat">Etisalat</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Action</ion-label>
          <ion-select [(ngModel)]="action" (ionChange)="on_change()">
            <ion-option value="c">Charge</ion-option>
            <ion-option value="s">Save</ion-option>
            <ion-option value="g">Send Gift</ion-option>
          </ion-select>
      </ion-item>
    <ion-item [hidden]="!input">
      <ion-label>User Email</ion-label>
      <ion-input type="text" [(ngModel)]="submitted_user"></ion-input>
    </ion-item>
  <br>
  <button (click)="capture()" ion-button full color="light">Take Photo</button>
  <button (click)="load_from_gallery()" ion-button full color="light">Load From Gallery</button>
  <!-- <p align="center"><img src="{{ ImageUrl }}"></p> -->
  <!-- <p align="center">{{credit_text}}</p> -->
</ion-content>
