<!--
  Generated template for the GiftsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cards</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="cards">
          <ion-segment-button value="My cards">
            My cards
          </ion-segment-button>
          <ion-segment-button value="Gifts">
            Gifts
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="cards">
        <div  *ngSwitchCase="'My cards'">
        <ion-list *ngFor="let card  of my_cards">
          <ion-item >
            <ion-grid>
              <ion-row>
                <ion-col>
                    <p>Credit Number: {{card.credit_text}}<br>Date: {{card.date}}<br>Service Provider: {{card.service_provider}}</p>
                    <button (click)="charge(card,card.credit_text,card.service_provider,card.id)" ion-button small  color="light">Charge</button>
                    
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        </div>
        <div *ngSwitchCase="'Gifts'">
        <ion-list *ngFor="let gift of gifts" >
          <ion-item >
            <ion-grid>
              <ion-row>
                <ion-col>
                    <p>Credit Number: {{gift.credit_text}}<br>Date: {{gift.date}}<br>Service Provider: {{gift.service_provider}}<br>Gift From: {{gift.submitted_user_email}}</p>
                    <button (click)="charge_gift(gift,gift.credit_text,gift.service_provider,gift.id)" ion-button small  color="light">Charge</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        </div>
      </div>
</ion-content>
