<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form (ngSubmit)="login(f)" #f="ngForm">
        <ion-list>
    
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="username" name = "username" ngModel></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" name = "password" ngModel></ion-input>
          </ion-item>
          
        </ion-list>
    
      <button style="margin-top: 50px;" type="submit" ion-button full color="light">login</button>
      </form>
</ion-content>